html {
    background: #888;
}

body {
    margin: 0.5em auto;
    padding: 1em;
    font-size: 14pt;
    background: #fff;
    max-width: 1200px;
}

iframe {
    border-style: none;
}

.credits {
    margin: 1em;
    padding: 1em;
    float: right;
    background: #eee;
    text-align: center;
    font-style: italic;
}

.left {
    float: left;
}

.right {
    float: right;
}

.figure {
    padding: 1em;
}

.figure p {
    text-align: center;
    font-style: italic;
}

.figure pre {
    background: #eee;
    padding: 1em;
    margin: 0;
}

.clear {
    clear: both;
}
