body {
    margin: 1em auto;
    padding: 0.5em 2em;
    font-size: 14pt;
    max-width: 900px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h2 {
    clear: both;
    padding: 1em 0em 0.2em 0em;
    border-bottom: 1px solid #ccc;
}

pre {
    clear: both;
    background: #f8f8f8;
    padding: 1em;
    margin: 0;
    border: 1px solid #ccc;
}

code {
    white-space: nowrap;
}

li {
    margin-bottom: 0.5em;
}

.footer {
    clear: both;
    margin: 2em;
    text-align: center;
    font-style: italic;
    border-top: 1px solid #ccc;
}

.left {
    float: left;
}

.right {
    float: right;
}

.figure {
    padding: 1em;
}

.figure p {
    text-align: center;
    font-style: italic;
}

.clear {
    clear: both;
}

.space {
    height: 250px;
    background: #f8f8f8;
    border: solid 1px #ccc;
    overflow: hidden;
}

.left .space, .right .space {
    width: 830px;
}

.box {
    position: relative;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background: #4ac;
    cursor: move;
}

.yield.highlighted {
    background: #faa;
}

.highlighted {
    background: #afa;
}
