html {
    background: #eee;
}

body {
    margin: 1em;
    padding: 1em;
    font-size: 14pt;
    background: #fff;
}

p {
    max-width: 800px;
}

blockquote {
    background: #eee;
    padding: 1em;
    font-style: italic;
}

pre {
    background: #ddd;
    padding: 1em;
}

.figure {
    float: left;
    padding: 1em;
    margin: 1em;
    background: #eee;
}

.figure p {
    text-align: center;
    font-style: italic;
}

.clear {
    clear: both;
}
